* {
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

button {
    background-color: transparent;
    border: 0;
}

img {
    width: 100%;
    height: auto;
    
}

#imgRock:hover {
    content: url("images/Rock.gif");
}

#imgPaper:hover {
    content: url("images/Paper.gif");
}

#imgScissors:hover {
    content: url("images/Scissors.gif");
}